.skills-experience {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 4rem;
}

.title-skills {
    font-family: "Montserrat-Bold";
    color: #155656;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.experience {
    display: flex;
    gap: 2rem;
}
.experience-card, .tech-stack {
    height: 28.5rem;
    width: 21rem;
    background-color: white;
    color: black;
    border-radius: 5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.6s ease;
}

.experience-card {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-card:hover, .tech-stack:hover{
    transform: translateY(-20px);
}

.experience-image {
    height:9rem;
    width:9rem;
    border-radius: 50%;
}

.experience-text{
    font-family: "Montserrat-Medium";
    text-align: left;
    padding: 20px
}

.experience-title {
    font-weight: 700;
    color: #155656;
    font-size: 24px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skill-logo{
    height: 6rem;
    width: 6rem;
    padding: 5px;
}

@media screen and (max-width: 830px) {
    .skills-experience {
        flex-direction: column;
        align-items: center;
    }
    .experience {
        flex-direction: column;
    }
    .title-skills {
        font-size: 2rem;
        margin-bottom: 1rem;
       justify-content: center;
    }
    .experience-text {
        font-size: 1rem;
    }
}


    