@font-face {
  font-family: "Montserrat-Bold";
  src: url(/src/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(/src/fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Playfair-Medium";
  src: url(/src/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf);
}
@font-face {
  font-family: "Playfair-Bold";
  src: url(/src/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Default CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #f9f8ed !important;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
