@font-face {
  font-family: "Montserrat-Bold";
  src: url(/src/fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(/src/fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Playfair-Medium";
  src: url(/src/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf);
}
@font-face {
  font-family: "Playfair-Bold";
  src: url(/src/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

:root {
  /* Colours */
  --color-text: #155656;
  --color-primary: #C4E3CB;
  --color-secondary:#d59321;
}

.App {
  text-align: center;
}

/* Default CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #f9f8ed !important;

}
